<%- include("../default/header") %>

<h3>list 페이지 입니다</h3>

<% console.log("list ejs => ", list) %>

<table border="1">
    <tr>
        <th>아이디</th> <th>비밀번호</th> <th>이름</th> <th>주소</th>
    </tr>
    <% list.forEach(member => {  %>
        <tr>
            <td><%= member.ID %></td>
            <td><%= member.PWD %></td>
            <td>
                <a href="/member/member_view/<%= member.ID %> ">
                <%= member.NAME %></a></td>
            <td><%= member.ADDR %></td>
        </tr>

    <%}); %>
</table>